{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>About Us - VC Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/logoEmbed.js' %}"></script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul>
          <li><a href="{% url 'main_page' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="header">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h2>Welcome to VC Blog</h2>
        <p>
          We are Vincent Joe and Caleb Saunders, a dynamic duo embarking on our
          first startup pair programming project as part of the Next Chapter
          Galvanize Cohort for Summer 2024.
        </p>
        <h2>Our Journey</h2>
        <p>
          As enthusiastic developers passionate about building innovative
          solutions, we have teamed up to create an engaging and user-friendly
          blog platform. This project marks the beginning of our startup
          journey, where we aim to blend creativity and technical expertise to
          deliver top-notch web experiences.
        </p>
        <h2>Tech Stack</h2>
        <p>
          Our blog is built using the Django framework, leveraging its robust
          capabilities to handle complex data models and interactions
          seamlessly. We utilize Django templates to dynamically render our
          content, ensuring a smooth and responsive user experience.
          Additionally, we employ SVGs (Scalable Vector Graphics) for our logo
          and other graphical elements, providing crisp and scalable visuals.
          Our data models are meticulously crafted to manage and organize our
          content efficiently.
        </p>
        <h2>Meet the Team</h2>
        <p>
          <strong>Vincent Joe</strong> and <strong>Caleb Saunders</strong> are
          the brains behind this project. As part of the Next Chapter Galvanize
          Cohort for Summer 2024, we are excited to bring this blog to life and
          share our journey with you.
        </p>
        <h2>Contact Us</h2>
        <p>
          We'd love to hear from you! Whether you have a question, feedback, or
          a story to share, feel free to reach out to us at
          <a href="mailto:contact@vcblog.com">contact@vcblog.com</a>.
        </p>
      </div>
    </main>
    <footer class="footer">
      <p>Made with love by Vincent and Caleb - VC Blog</p>
    </footer>
  </body>
</html>
