{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us - Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/logoEmbed.js' %}"></script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul>
          <li><a href="{% url 'main_page' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="header">
        <h1>Get in Touch</h1>
      </div>
      <div class="content">
        <p>
          We'd love to hear from you! Whether you have a question, feedback, or
          a story to share, feel free to reach out to us using the form below.
        </p>
        <form class="contact-form">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required />
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
          </div>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
    </main>
    <footer class="footer">
      <p>Made with love by Our Blog</p>
    </footer>
  </body>
</html>
