{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/blog/about/">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="header">
        <h1>Blog Posts</h1>
        <p>Explore our latest articles</p>
      </div>
      <div class="post-grid">
        {% for post in post_list %} {% if post.published %}
        <div class="post-card">
          <h3>
            <a href="{% url 'show_post' post.slug %}">{{ post.title }}</a>
          </h3>
          <p class="overview">{{ post.overview }}</p>
          <div class="post-meta">
            <span>By {{ post.author }}</span>
            <span>{{ post.date|date:"D d M Y" }}</span>
          </div>
          <div class="categories">
            {% for category in post.categories.all %}
            <span>{{ category.title }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </main>
    <footer class="footer">
      <p>Made with love by Our Blog</p>
    </footer>
    <script src="{% static 'js/logoEmbed.js' %}"></script>
  </body>
</html>
