{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ post_object.title }} - Blog Posts</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/logoEmbed.js' %}"></script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <ul>
          <li>
            <a href="{% url 'main_page' %}" class="back-link"
              ><i class="fas fa-arrow-left"></i> All Posts</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="header">
        <h1 class="detail-title">{{ post_object.title }}</h1>
        <div class="post-meta">
          <p class="author">By {{ post_object.author }}</p>
          <p class="created_date">{{ post_object.date|date:"D d M Y" }}</p>
          <p class="published">
            {{ post_object.published|yesno:"Published,Draft" }}
          </p>
        </div>
      </div>
      <section class="post-content">
        <div class="content">
          <p class="overview">{{ post_object.overview }}</p>
          <div class="content-body">{{ post_object.content|safe }}</div>
        </div>
        <div class="categories">
          <h3>Categories</h3>
          <ul>
            {% for category in post_object.categories.all %}
            <li>{{ category }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer">
      <p>Made with love by Our Blog</p>
    </footer>
  </body>
</html>
